# This template is low-dependency. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
qwen-vl-utils
git+https://github.com/huggingface/transformers accelerate